<html>
<head>
    <title>To do list app</title>
    <link href="../static/bootstrap-4/bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
 </head>
     <body>
        <div class="jumbotron">                     
            <a class="navbar-brand" href="#"><img src="../static/img/Logo_BVU.png" style="height: 150px"></a>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="userhome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                <strong>Error:</strong> [{{ message }}]
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}

            <!-- Footer --> 
        <div class="jumbotron" style="margin-bottom:0">
            <p>Copyright &copy;2021 by HuyDQ</p> 
        </div>
    </body>    
</html>