<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To do list App</title>
        <link href="../static/bootstrap-4/bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <!--Header-->
        <div class="jumbotron" style="margin-bottom:0">
            <a class="navbar-brand" href="/userhome">
                <img src="../static/img/Logo_BVU.png" alt="logo" style="height:100px">
            </a>
        </div>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/userhome">Home</a></li>
                {% if user %}
                <li class="nav-item"><a class="nav-link active" href="/newTask">New Task</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
            </ul>
        </nav>
        <!--end header-->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
            <div class="alert alert-danger">
                <strong>Error:</strong> [{{ message }}]
            </div>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <!--Footer-->
        <div class="jumbotron" style="margin-bottom:0">
            <p>Copyright &copy; 2021 HuyDQ</p>
        </div>
    </body>
</html>